USE [master]
GO
/****** Object:  Database [MyCourse]    Script Date: 10/19/2019 11:21:35 PM ******/
CREATE DATABASE [MyCourse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyCourse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.NGUYENANHDUC\MSSQL\DATA\MyCourse.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyCourse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.NGUYENANHDUC\MSSQL\DATA\MyCourse_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyCourse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyCourse]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/19/2019 11:21:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_ID] [int] NOT NULL,
	[Role_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_User]    Script Date: 10/19/2019 11:21:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_User](
	[user_id] [int] NULL,
	[role_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 10/19/2019 11:21:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dob] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[_from] [nvarchar](50) NULL,
	[full_name] [nvarchar](50) NULL,
	[gender] [bit] NULL,
	[last_login] [nvarchar](50) NULL,
	[mobile] [nvarchar](50) NULL,
	[picture] [nvarchar](50) NULL,
	[stt] [bit] NULL,
	[file_datas] [bit] NULL,
 CONSTRAINT [PK_User1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
