@using CourseOnline.Models;
@{
    ViewBag.Title = "StudyOnline";
    Layout = "~/Views/Shared/_Study_Layout.cshtml";
    Lesson lesson = ViewBag.lesson;
}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#overview" data-toggle="tab">Lesson Objectives</a></li>
        <li><a href="#content" data-toggle="tab">Content</a></li>
        <li><a href="#practice" data-toggle="tab">Practice </a></li>
        <!-- /.tab-content -->
    </ul>
    <div class="tab-content">
        <div class="active tab-pane" id="overview">
            <h2>Lesson Objectives</h2>
            <div class="form-group">
                <label>@lesson.lesson_objecttive</label>
            </div>
            <h2>Description</h2>
            <div class="form-group">
                <label>@lesson.lesson_support</label>
            </div>
        </div>
        <div class="tab-pane" id="content">
            <div class="youtube-responsive-container">
                <iframe width="560" height="315" src="@lesson.lesson_link" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

                </iframe>
            </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="practice">

        </div>
        <!-- /.tab-pane -->
    </div>
</div>

<style>
    .youtube-responsive-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

        .youtube-responsive-container iframe, .youtube-responsive-container object, .youtube-responsive-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
</style>
