
@{
    ViewBag.Title = "RegistrationList";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Course Registrations
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Registrations List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <a class="link" href="/import">Import</a>
                <div class="box-body">
                    <table id="tb_registration" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Subject</th>
                                <th>Course</th>
                                <th>Register</th>
                                <th>Register Email</th>
                                <th>Registration time</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#tb_registration').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllRegistration", "Registration")',
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "registration_id", "name": "registration_id", "orderable": true },
                { "data": "subject_name", "name": "subject_name", "orderable": true },
                { "data": "course_name", "name": "course_name", "orderable": true },
                { "data": "user_fullname", "name": "user_fullname", "orderable": true },
                { "data": "user_email", "name": "user_email", "orderable": true },
                { "data": "registration_time", "name": "registration_time", "orderable": true },
                { "data": "registration_status", "name": "registration_status", "orderable": true },
                {
                    "data": "registration_id", "render": function (data) {
                        if (data) {
                            return "<a class='waves-effect waves-light btn-small blue darken-2 modal-trigger' data-target='edit_employee'  style='margin-left:5px' onclick=getEditIdEmp('" + data + "') > Approve</a>" +
                                "<a class='waves-effect waves-light btn-small red modal-trigger' style='margin-left:10px' onclick=getDeleteIdEmp('" + data + "') ><i class='link-space-left-20'></i> Reject</a>" +
                                "<a class='waves-effect waves-light btn-small red modal-trigger' style='margin-left:10px' onclick=getDeleteIdEmp('" + data + "') ><i class='link-space-left-20'></i> Block</a>";
                        }
                    },
                    "orderable": false,
                    "searchable": false
                },
            ],
        "paging": true,
        "pageLength": 5,
        "ordering": true,
        "serverSide": "true",
        "order": [[0, "asc"]],
        "searching": false
        });
    } );
    </script>
}

