
@{
    ViewBag.Title = "MenuDetail";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Menu Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="dashboard.html"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index","Menu")'>Menus List</a></li>
        <li class="active">Menu Details</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="inp_name">
                    </div>
                    <div class="form-group">
                        <label>Link</label>
                        <input type="text" class="form-control" id="inp_link">
                    </div>
                    <div class="form-group">
                        <label>Order</label>
                        <input type="text" class="form-control" id="inp_order">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select id="sl_menuStatus" class="form-control">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Short description</label>
                        <textarea class="form-control" rows="3" id="inp_shortDes"></textarea>
                    </div>
                    <button type="submit" class="btn btn-info" onclick="SubmitAddMenu()">Submit</button>
                    <button type="submit" class="btn btn-info" onclick='getBackMenuList()'>Back</button>
                </div>
            </div>
        </div>


        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>

@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>


        $(document).ready(function () {

    });


        function SubmitAddMenu() {
        tinyMCE.triggerSave();
            var menu = {
                menuName: $("#inp_name").val(),
                menuLink: $("#inp_link").val(),
                menuOrder: $("#inp_order").val(),
                menuStatus: $("#sl_menuStatus").val(),
                shortDes: $("#inp_shortDes").val(),
            };

            var postJson = JSON.stringify(menu);

            $.ajax({
                url: '@Url.Action("SubmitAddMenu","Menu")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        alert("submit thanh cong");
                    } else {
                        alert("submit that bai");
                    }
                },
                error: (response) => { alert("co van de ve mang") }
            });
        };

    // bat su kien back
    function getBackMenuList() {
               window.location.href ='@Url.Action("Index", "Menu")';
        }
    </script>
}