@{
    ViewBag.Title = "PermissionDetail";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
}


<section class="content-header">
    <h1>
        Permission Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index","Permissions")'>Menus List</a></li>
        <li class="active">Menu Details</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box table-responsive">
                <div class="box-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control edit-field" id="inp_name">
                    </div>
                    <div class="form-group">
                        <label>Link</label>
                        <input type="text" class="form-control edit-field" id="inp_link">
                    </div>
                    <div class="form-group">
                        <label>Describe</label>
                        <input type="text" class="form-control edit-field" id="inp_des">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select id="sl_permissionStatus" class="form-control edit-field">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                    <button type="submit" style="width : 8%;" class="btn btn-info edit-field" onclick="SubmitAddPermission()">Submit</button>
                    <button type="submit" style="width : 8%;" class="btn btn-info" onclick='getBackPermission()'>Back</button>
                </div>
            </div>
        </div>


        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>


        $(document).ready(function () {

        });
        var isEnableEditingMode = true;
        function turnOnEditMode() {
                // bat trang thai edit
                $(".edit-field").each(
                    function () { $(this).prop('disabled', true); isEnableEditingMode = true; }
                )
        };

        function SubmitAddPermission() {

            var permission = {
            permissionName: $("#inp_name").val(),
            permissionLink: $("#inp_link").val(),
            permissionStatus: $("#sl_permissionStatus").val(),
            permissionDescribe: $("#inp_des").val(),
            };

            var postJson = JSON.stringify(permission);
            if ($("#inp_name").val() == "") {
                errorAlert("Name not empty!");
                return;
            } else if ($("#inp_link").val() == "") {
                errorAlert("Link not empty!");
                return;
            }

            $.ajax({
                url: '@Url.Action("SubmitAddPermission","Permissions")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        turnOnEditMode();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        };

    // bat su kien back
    function getBackPermission() {
               window.location.href ='@Url.Action("Index", "Permissions")';
        }
    </script>
}
