<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorate="template">
<body>
<div layout:fragment="content" class="content-wrapper">
    <section class="content-header">
        <h1>
            User Details
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="user-list">User List</a></li>
            <li class="active">User details</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
                        <li><a href="#photo" data-toggle="tab">Photo</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="profile">
                            <form class="form-horizontal" th:object="${user}" th:action="@{save}" action="#"
                                  method="post">
                                <div class="form-group">
                                    <label for="inputname" class="col-sm-2 control-label">Full_name</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputname"
                                               placeholder="Name" th:field="*{full_name}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail"
                                               placeholder="Email" th:field="*{email}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputMobile" class="col-sm-2 control-label">Mobile</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputMobile"
                                               placeholder="Mobile" th:field="*{mobile}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputForm" class="col-sm-2 control-label">Form</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputForm" placeholder="Form"
                                               th:field="*{from}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPosition" class="col-sm-2 control-label">Position</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputPosition"
                                               placeholder="Position">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">How do we call you?</label>
                                    <div class="col col-sm-2">
                                        <input type="radio" name="optionsRadios" id="optionsRadios1"
                                               value="option1" th:checked="${user.gender == true}">
                                        Mr
                                    </div>
                                    <div class="col col-sm-2">
                                        <input type="radio" name="optionsRadios" id="optionsRadios3"
                                               value="option2" th:checked="${user.gender == false}">
                                        Ms
                                    </div>
                                    <div class="col col-sm-2">
                                        <input type="radio" name="optionsRadios" id="optionsRadios4"
                                               value="option3" th:checked="${user.gender == false}">
                                        Mrs
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Register to receive useful information
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Roles</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" >
                                            <option>Search and select roles</option>
                                            <option>option 2</option>
                                            <option>option 3</option>
                                            <option>option 4</option>
                                            <option>option 5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane tab-image" id="photo">
                        <form th:object="${myUploadForm}" method="POST"
                              action="" enctype="multipart/form-data">
                            <img class="img-responsive pad" th:src="@{}" alt="Photo">
                            <div class="row tab-button">
                                <div class="form-group col-sm-5 col-sm-push-7">
                                    <label for="exampleChange">Add/Change image</label>
                                    <input class="custom-input" type="file" id="exampleChange">
                                </div>
                                <div class="form-group col-sm-7 col-sm-pull-5">
                                    <div class="col-sm-offset-1">
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div layout:fragment="script">
</div>
</body>
</html>
<script>
    $(function () {
        $("#example1").DataTable();
    });
</script>